<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="chart">
      <ion-icon name="aperture"></ion-icon>
      <ion-label>Chart</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="buy">
      <ion-icon name="basket"></ion-icon>
      <ion-label>Buy Alert</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="info">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>info</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="news">
      <ion-icon name="newspaper"></ion-icon>
      <ion-label>News</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu">
      <ion-icon name="log-out"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
