<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Buy Alert
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Buy Alert</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img width="80" height="80" src=""></ion-img>
  <div class="ion-text-center">
    <h6 ion-text color="secondary" >Caption Information</h6>
  </div>

  <ion-item-divider>
  </ion-item-divider>

  <ion-img width="80" height="80" src=""></ion-img>
  <div class="ion-text-center">
    <h6 ion-text color="secondary" >Caption Information</h6>
  </div>

  <!-- <app-explore-container name="Buy Alert"></app-explore-container> -->
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title style="text-align: center"><h6 ion-text color="secondary">Taurus Trading Academy</h6></ion-title>
  </ion-toolbar>
</ion-footer>
