<ion-header no-border>
  <ion-toolbar color="success">
    <ion-title>Register TTA</ion-title>
    <ion-button slot="start">      
      <ion-back-button></ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div class="">
      <ion-item>
        <ion-input type="text" placeholder="Name" [(ngModel)]="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Gender</ion-label>
        <ion-select interface="popover" [(ngModel)]="gender">
          <ion-select-option value="f">Female</ion-select-option>
          <ion-select-option value="m">Male</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Date of Birthday</ion-label>
        <ion-input [value]="dob"></ion-input>
        <ion-button fill="clear" id="open-date-input-2">
          <ion-icon icon="calendar"></ion-icon>
        </ion-button>
        <ion-popover trigger="open-date-input-2" show-backdrop="false">
          <ng-template>
            <ion-datetime
              #popoverDatetime2
              presentation="date"
              (ionChange)="dob = formatDate(popoverDatetime2.value)"
            >
            <ion-buttons slot="buttons">
              <ion-button style="color:blue" (click)="confirm()">Select</ion-button>
            </ion-buttons>
          </ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Username" [(ngModel)]="username"></ion-input>
      </ion-item>
      <ion-item>      
        <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item>      
        <ion-input type="password" placeholder="Confirm Password" [(ngModel)]="confirm_password"></ion-input>
      </ion-item>
      <ion-button expand="full" class="no-padding" color="secondary" (click)="tryRegister()">Register</ion-button>      
    </div>
  </ion-list>
</ion-content>
